body {
  font-family: Roboto, sans-serif;
  background: #f9fbfd;
  margin: 0;
  padding: 0;
}
header {
  background: #007acc;
  color: white;
  padding: 10px 20px;
}
footer {
  background: #007acc;
  color: white;
  text-align: center;
  padding: 10px;
}
/* Thêm vào style.css */
.button-link {
    display: inline-block;
    background-color: var(--main-blue);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.button-link:hover {
    background-color: var(--hover-blue);
}
